.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-panel, .right-panel {
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.left-panel {
  background-color: #f0f0f0;
  width: 300px;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.right-panel {
  background-color: #e0e0e0;
  flex: 1;
}

.item-text {
  color: black;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drag-button {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #000;
}

.selected-item-info {
  margin-top: 20px;
}

.selected-item-info input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}